{% extends 'base.html' %}
{% block main %}
    {{ mensagem }}<br>
    <a href="pessoas">pessoas</a><br>
    <a href="pessoas-novo">pessoas-novo</a><br>
    <a href="veiculos">veiculos</a><br>
    <a href="veiculo-novo">veiculo-novo</a><br>
    <a href="movsrotativos">movsrotativos</a><br>
    <a href="movsrotativos-novo">movsrotativos-novo</a><br>
    <a href="mensalistas">mensalistas</a><br>
    <a href="mensalista-novo">mensalista-novo</a><br>
    <a href="movmensalistas">movmensalistas</a><br>
    <a href="movmensalista-novo">movmensalista-novo</a><br>
{% endblock %}